table
{
    border-collapse: collapse;
    width: 50%;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    width: 20%;
    height: 20%;
    text-align: center;
}

.none {
    display: none;
}


h1 {
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

